:host{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  background: #5DADE2;
  color: white;
  font-size: 21px;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 24px 53px;
}
